

body{
    font-family: Roboto, sans-serif;
    background-color: #FFB657;
    color:#066194
}

h1,h2,h4,h4,h5,h6 {
    font-family: 'Sofia Sans Condensed', sans-serif;
    text-align:center;
}

h1 {
    font-size:30pt;
}
h2 {
    font-size:22pt;
    margin: .1em;
    
}

header {
    text-align:center;
}
#hero,footer  {
    background-color: #ffc859;
    text-align:center;
    padding: 10px;
}


/* Hero Section */


#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hobbies */

#hobbies {
display: flex; 
flex-direction: column; 
align-items: center;
}







/* Gallery */

#Gallery {
    border: 2px solid #FF00FF	
    margin-bottom:2rem;
}

#gallery img {
    max-width:100%;
}


#gallery figure {
text-align:center;
}


/* Literature */
#lit {
    border: 2px solid #FF00FF

}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

/* Responsive tablet*/


 @media screen and (min-width: 60em); {
    figure {
        display:grid;
grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display:flex;
justify-content: center;
align-items: center;
font-size: 2rem;
margin-left: 1rem;
}
    figure img {
        width: 100%;
    }
#lit div{
    max-width:100%;
columns: 40rem;
}
}

/* responsive large screen */

@media screen and (min-width: 100em) {
    #gallery {
        display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    hr {
        display:none;
    }
    #gallery h2 {
        grid-column: 1/-1
    }
    figure {
        display: block;
    }
}
/* contact form*/
#contact {
    font-family: Roboto, sans-serif;
    color: rgb(5, 22, 5);
    font-size: x-large;
    border: 5px solid;
    background-color: darkgray;
    padding: 1px;
}

 